
body {
  background-color: #e1e5f8;
  font-family: Comic Sans MS, Comic Sans;
  text-align: center;
  color: #737ccf;
  padding:0;
  margin:0;
  -webkit-text-size-adjust: none;
}
img {
  width: 30vmin; 
  height: 30vmin;
  border-radius:50%;
}
.frame {
  display:flex;
  -webkit-text-size-adjust: none;

}
.frame > div {
  flex: 1; 
}
.name{
  font-size: 34px;
  padding:0;
  height:22px;
  -webkit-text-size-adjust: none;
}
.intro-paragraph{
  text-align: center;
  justify-content: center;
  display: flex;
  line-height: 200%;
}
.intro-paragraph p{
  width:60%;
  font-size: 17px;
  -webkit-text-size-adjust: none;
}
.intro{
  text-align: center;
  justify-content: center;
}
.fa {
  padding: 10px;
  font-size: 100px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 25%;
}
.fa-facebook {
  background: #3B5998;
  color: white;
}
.fa-instagram {
  background: #f09433; 
background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
}
.fa-linkedin {
  background: #007bb5;
  color: white;
}
.fa-github {
  background: #111111;
  color: white;
}

.navigation{
  background-color: #737ccf;
  height: 40px;
  font-size: 20px;
  color:#e1e5f8;
  text-align: center;
  -webkit-text-size-adjust: none;
}
ul {
  padding: 0;
  margin: auto;
  list-style: none;
  justify-content: center;
  display: flex;
}
ul::after {
  display: block;
  content: '';
  clear: both;
}
ul li {
  float: left;
}
ul a {
  display: block;
  padding: 0.25em 1em;
  text-decoration: none;
}
.navigation a:link, .navigation a:visited{
  color: #e1e5f8;
  text-decoration: none;
}
.frame{
  padding: 100px;
  text-align: center;
}