
body {
  background-color: #e1e5f8;
  font-family: Comic Sans MS, Comic Sans;
  text-align: left;
  color: #737ccf;
  padding:0;
  margin:0;
  -webkit-text-size-adjust: none;
}
h1, h3{
  margin-top:50px;
  text-align:center;
}
img {
  width: 30vmin; 
  height: 30vmin;
  border-radius:50%;
}
.name{
  font-size: 1.4vw;
  -webkit-text-size-adjust: none;
}
.introduction{
  margin-top: 10px;
  margin-bottom:10px;
}
.intro-paragraph{
  text-align: center;
  justify-content: center;
  display: flex;
  line-height: 200%;
  width: 30w;
  height: 30vw;
}
.intro-paragraph p{
  font-size: 1.1vw;
  -webkit-text-size-adjust: none;
  text-align: left;
  position: relative;
  left: -73vw;
  width: 50vw;
}
.intro{
  text-align: center;
  justify-content: center;
  width: 20vw;
  height: 20vw;
  position:absolute;
  left:-27vw;
}
.frame {
  display:flex;
  -webkit-text-size-adjust: none;
  padding:50px;
  text-align: center;
  justify-content: center;
}
.two{
  margin:0;
  padding:0;
}
.courses h3{
  margin:0;
  padding-top: 30px;
  padding-bottom: 30px;
}
.project{
  border-radius:20%;
  background-color:#737ccf;
  height: auto;
  width: 10.5vw;
  height: 28vw;
  margin-top:0;
  margin-left: 10px;
}
.project p{
 color: black;
 font-size: .9vw;
 text-align: center;
}
.project h6{
  color: black;
  font-size: 1.4vw;
  text-align: center;
 }
.project img{
  width: 9vw;
  height: 13vw;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.projects a:link, a:visited, a:active{
  text-decoration:none;
  color:black;
}
.frame > div {
  flex: 1; 
}
li {
	margin: 0;
	padding: 5px 0px 0px 45px;
	list-style: none;
	background-image: url("/media/graduation-cap-svgrepo-com.svg");
	background-repeat: no-repeat;
	background-position: left center;
	background-size: 30px;
  text-align: left;
}
.courses h1{
  margin:0;
}
.fa {
  padding: 10px;
  font-size: 100px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 25%;
}
.fa-facebook {
  background: #3B5998;
  color: white;
}
.fa-instagram {
  background: #f09433; 
background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
}
.fa-linkedin {
  background: #007bb5;
  color: white;
}
.fa-github {
  background: #111111;
  color: white;
}
footer{
  text-align: center;
}

h6{
  color:black;
  -webkit-text-size-adjust: none;
  font-size:1em;
  padding:0;
  margin:auto;
  text-align: center;
}
