body {
  background-color: #e1e5f8;
  font-family: Comic Sans MS, Comic Sans;
  text-align: center;
  color: #737ccf;
}
img {
  width: 30vmin; 
  height: 30vmin;
  border-radius:50%;
}
.frame {
  display:flex;

}
.frame > div {
  flex: 1; 
}
.name{
  font-size: 34px;
  padding:0;
  height:22px;
}

.intro-paragraph{
  text-align:left;
}
.intro{
  text-align: center;
  justify-content: center;


  margin: 0;
}
.fa {
  padding: 10px;
  font-size: 100px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 25%;
}
.fa-facebook {
  background: #3B5998;
  color: white;
}
.fa-instagram {
  background: #f09433; 
background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
}
.fa-linkedin {
  background: #007bb5;
  color: white;
}
.fa-github {
  background: #111111;
  color: white;
}

.navigation{
  background-color: #737ccf;
  height: 40px;
  font-size: 21px;
  position: absolute;
  top: 0; right: 0; left: 0;
  border: 20px;
  word-spacing: 7rem;
  color:#e1e5f8;
}
.navigation a:link, a:visited{
  color: #e1e5f8;
  text-decoration: none;
}